@import "../functions.scss";

@include Breadcrumb();

.cart-shopping 
{
    padding: 70px 0px;
    @media screen and (max-width: 991px){
        padding: 50px 0px;
    }
    table
    {
        tr
        {
            th
            {
                background: $Primary_Color;
                text-align: center;
                color: white;
                font-size: 18px;
                font-weight: 600;
                line-height: 50px;
            }
            td
            {
                text-align: center;
                padding-bottom: 10px;
                img
                {
                    width: 110px;
                    height: 110px;
                }
                h4
                {
                    padding-top: 40px;
                    a
                    {
                        color: #363432;
                        font-size: 20px;
                        text-decoration: none;
                    }
                }
                p
                {
                    padding-top: 60px;
                    color: #363432;
                    font-size: 20px;
                    text-decoration: none;
                }
                div
                {
                    display: flex;
                    justify-content: center;
                    padding-top: 60px;
                    a
                    {
                        background: #F0F0E9;
                        color: #696763;
                        width: 30px;
                    }
                    input
                    {
                        color: #696763;
                        font-size: 16px;
                        text-align: center;
                        width: 35px;
                    }
                }
            }
        }

    }
}
.cart_quantity_delete
{
    color: #8C8C88;
    font-size: 20px;
    text-decoration: none;
}

.total-result
{
    color: #696763;
    ul
    {
        list-style-type: none;
        padding-left: 12px;
        li
        {
            margin-bottom: 10px;
        }
    }
}
.shipping-bill
{
    color: #696763;
    p 
    {
        text-align: center;
        color: #696763;
        font-size: 20px;
        font-weight: 300;
    }
    input:not([type="submit"])
    {
        background: #F0F0E9;
        margin-bottom: 10px;
        padding: 10px;
        font-weight: 300;
    }
    select
    {
        background: #F0F0E9;
        margin-bottom: 10px;
        padding: 10px;
        font-weight: 300;
    }
    textarea
    {
        background: #F0F0E9;
        font-size: 13px;
        height: 335px;
        margin-bottom: 20px;
        padding: 15px 20px;
        resize: none;
    }

}
.btns
{
    @include buttons();
}
